body{
    background-image: url('https://torange.biz/photofxnew/23/HD/mirror-macro-blurring-top-bottom-dollar-23190.jpg');
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}


h4 {
  position: relative;
  color: black;  
  font-style: oblique;
  font-size: 3rem;
  line-height: 0.9;
  text-align: center;
};

.pup {
width: 50%;
height: 375px;     
}

.pic{
    width: 25%;
    opacity: 1;
}

