.hero {
    position: relative; 
    height: 100vh;
    width: 100%;   
    align-items: center;
    justify-content: center;
}

.hero::before {    
      content: "";
      background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/k-182-ae-06550wf.jpg?bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&q=80&usm=15&vib=3&w=1300&s=e518a07c1544ac4f862374b2e06873df');
      background-size: cover;
      position: absolute;
      top:  45px;
      right: -30px;
      bottom: -900px;
      left: -10px;
      opacity: 0.75;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}


h4 {
  position: relative;
  color: white;  
  font-size: 3rem;
  line-height: 0.9;
  text-align: center;
};

